<!DOCTYPE html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Tìm kiếm món ăn</title>
</head>
<body>
<h2>Trang tìm kiếm món ăn</h2>

<form th:action="@{/merchant/dish/search}" method="get">
    <div>
        <label>Từ khóa:</label>
        <input type="text" name="keyword" placeholder="Nhập tên món ăn">
    </div>

    <br>

    <div>
        <label>Nhóm món ăn:</label>
        <select name="category">
            <option value="">-- Tất cả nhóm món ăn --</option>
            <option th:each="c : ${categories}"
                    th:value="${c}"
                    th:text="${c}">
            </option>
        </select>
    </div>

    <br>

    <button type="submit">Tìm kiếm</button>
</form>
</body>
</html>