<!DOCTYPE html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Sửa món ăn</title>
</head>
<body>
<h2>Trang sửa món ăn</h2>

<form th:action="@{/merchant/dish/edit}" th:object="${dish}" method="get">
    <div>
        <label>Tên món ăn:</label>
        <input type="text" th:field="*{name}">
    </div>

    <br>

    <div>
        <label>Nhóm món ăn:</label>
        <select th:field="*{category}">
            <option value="">-- Chọn nhóm món ăn --</option>
            <option th:each="c : ${categories}"
                    th:value="${c}"
                    th:text="${c}">
            </option>
        </select>
    </div>

    <br>

    <button type="submit">Cập nhật</button>
</form>
</body>
</html>