<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title th:text="${pageTitle} + ' | BookStore'">BookStore</title>
</head>
<body>

<header>
    <h2 th:text="${pageTitle}">BookStore</h2>
    <nav>
        <a th:href="@{/books}">Danh Sách Sách</a>
    </nav>
</header>

<main class="content" layout:fragment="content"></main>

<footer>
    <p>BookStore &copy; 2024</p>
</footer>

</body>
</html>